  <div class="flex items-center gap-4">
    <div class="w-24 h-8 bg-indigo-800 rounded-md flex items-center justify-center text-sm font-medium">
      Timer
    </div>
    <h1 class="text-xl font-semibold">Meeting Title</h1>
  </div>
  <div class="flex items-center gap-2">
    <div class="flex items-center gap-1 mr-2 border-r border-gray-300 pr-2">
      <button (click)="onToggleChatSidebar()" class="text-white hover:bg-indigo-700 hover:bg-opacity-90 rounded-md px-3 py-2 flex items-center gap-2 transition duration-300 ease-in-out">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-messages-square-icon lucide-messages-square"><path d="M14 9a2 2 0 0 1-2 2H6l-4 4V4a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2z"/><path d="M18 9h2a2 2 0 0 1 2 2v11l-4-4h-6a2 2 0 0 1-2-2v-1"/></svg>

<!--        <span class="font-medium">Chat</span>-->
      </button>
      <button (click)="onToggleParticipantsSidebar()" class="text-white hover:bg-indigo-700 hover:bg-opacity-90 rounded-md px-3 py-2 flex items-center gap-2 transition duration-300 ease-in-out">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-users-icon lucide-users"><path d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2"/><path d="M16 3.128a4 4 0 0 1 0 7.744"/><path d="M22 21v-2a4 4 0 0 0-3-3.87"/><circle cx="9" cy="7" r="4"/></svg>

<!--        <span class="font-medium">People</span>-->
      </button>
      <button class="text-white hover:bg-indigo-700 hover:bg-opacity-90 rounded-md px-3 py-2 flex items-center gap-2 transition duration-300 ease-in-out">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-terminal-icon lucide-terminal"><polyline points="4 17 10 11 4 5"/><line x1="12" x2="20" y1="19" y2="19"/></svg>
<!--        <span class="font-medium">Editor</span>-->
      </button>
      <button class="text-white hover:bg-indigo-700 hover:bg-opacity-90 rounded-md px-3 py-2 flex items-center gap-2 transition duration-300 ease-in-out">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-ellipsis-vertical-icon lucide-ellipsis-vertical"><circle cx="12" cy="12" r="1"/><circle cx="12" cy="5" r="1"/><circle cx="12" cy="19" r="1"/></svg>
      </button>
    </div>
    <div class="flex items-center gap-2">
      <button
        (click)="rtc.toggleCamEnabled()"
        [disabled]="!rtc.isCamObtained()"
        class="text-white hover:bg-indigo-700 hover:bg-opacity-90 rounded-md px-3 py-2 transition duration-300 ease-in-out">
        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 10l4.553-2.276A1 1 0 0121 8.618v6.764a1 1 0 01-1.447.894L15 14M5 18h8a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v8a2 2 0 002 2z" />
          <line *ngIf="!rtc.isCamEnabled" x1="4" y1="4" x2="20" y2="20" stroke="currentColor" stroke-width="2" stroke-linecap="round" />
        </svg>

<!--        <span class="font-medium">Camera</span>-->
      </button>
      <button
        (click)="rtc.toggleMicMuted()"
        [disabled]="!rtc.isMicObtained()"
        class="text-white hover:bg-indigo-700 hover:bg-opacity-90 rounded-md px-3 py-2 transition duration-300 ease-in-out">
        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 11a7 7 0 01-7 7m0 0a7 7 0 01-7-7m7 7v4m0 0H8m4 0h4m-4-8a3 3 0 01-3-3V5a3 3 0 116 0v6a3 3 0 01-3 3z" />
          <line *ngIf="rtc.isMicMuted" x1="4" y1="4" x2="20" y2="20" stroke="currentColor" stroke-width="2" stroke-linecap="round" />
        </svg>

<!--        <span class="font-medium">Microphone</span>-->
      </button>
      <button class="text-white hover:bg-indigo-700 hover:bg-opacity-90 rounded-md px-3 py-2 transition duration-300 ease-in-out">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-monitor-up-icon lucide-monitor-up"><path d="m9 10 3-3 3 3"/><path d="M12 13V7"/><rect width="20" height="14" x="2" y="3" rx="2"/><path d="M12 17v4"/><path d="M8 21h8"/></svg>

<!--        <span class="font-medium">Share screen</span>-->
      </button>
      <button
        (click)="onLeave()"
        class="bg-red-500 hover:bg-red-600 text-white rounded-md px-4 py-2 transition duration-300 ease-in-out font-bold flex gap-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-door-open-icon lucide-door-open"><path d="M11 20H2"/><path d="M11 4.562v16.157a1 1 0 0 0 1.242.97L19 20V5.562a2 2 0 0 0-1.515-1.94l-4-1A2 2 0 0 0 11 4.561z"/><path d="M11 4H8a2 2 0 0 0-2 2v14"/><path d="M14 12h.01"/><path d="M22 20h-3"/></svg>
        Leave
      </button>
    </div>
  </div>
