<div class="exit-screen flex flex-col items-center justify-center min-h-screen bg-gray-50 px-4 text-center">
  <h2 class="text-3xl font-bold text-gray-800 mb-4 select-none">You’ve left the meeting</h2>
  <p class="text-gray-500 mb-8 select-none">Choose what to do next:</p>

  <div class="flex flex-col sm:flex-row sm:flex-wrap gap-4 justify-center">
    <!-- Rejoin -->
    <button
      (click)="onRejoin()"
      class="bg-indigo-500 text-white px-6 py-3 rounded-full hover:bg-indigo-700 active:bg-indigo-800 transition-all font-medium cursor-pointer shadow flex items-center justify-center gap-2">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 lucide lucide-repeat2-icon lucide-repeat-2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0 3.181 3.183a8.25 8.25 0 0 0 13.803-3.7M4.031 9.865a8.25 8.25 0 0 1 13.803-3.7l3.181 3.182m0-4.991v4.99" />
      </svg>
      <span class="text-base">Rejoin</span>
    </button>

    <!-- Return to Home -->
    <button
      (click)="onReturnHome()"
      class="bg-white border border-gray-300 text-gray-700 px-6 py-3 rounded-full hover:bg-gray-100 active:bg-gray-200 transition-all font-medium cursor-pointer shadow flex items-center gap-2">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 lucide lucide-repeat2-icon lucide-repeat-2">
        <path stroke-linecap="round" stroke-linejoin="round" d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
      </svg>
      Return to Home
    </button>

    <!-- Recent Meetings -->
    <button
      (click)="onViewRecentMeetings()"
      class="bg-white border border-gray-300 text-gray-700 px-6 py-3 rounded-full hover:bg-gray-100 active:bg-gray-200 transition-all font-medium cursor-pointer shadow flex items-center gap-2">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 lucide lucide-repeat2-icon lucide-repeat-2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 6.75h12M8.25 12h12m-12 5.25h12M3.75 6.75h.007v.008H3.75V6.75Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0ZM3.75 12h.007v.008H3.75V12Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm-.375 5.25h.007v.008H3.75v-.008Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z" />
      </svg>
      Recent Meetings
    </button>
  </div>
</div>
