<a routerLink="/room/id" class="group hover:scale-105 cursor-pointer flex flex-col bg-white border border-gray-300 shadow-sm rounded-xl hover:shadow-md transition">
  <div class="p-4 md:p-5">
    <div class="flex justify-between items-center gap-x-3">
      <div class="grow">
        <div class="flex items-center gap-x-3">
          <img class="size-[48px] rounded-full" [src]="roomInformation.roomPicture" alt="Avatar">
          <div class="grow">
            <h3 class="group-hover:text-indigo-600 font-semibold text-gray-800">
              {{roomInformation.roomName}}
            </h3>
          </div>
        </div>
      </div>
      <div>
        <svg class="shrink-0 size-5 text-gray-800 group-hover:text-indigo-600 group-hover:translate-x-[2px] transition-transform" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m9 18 6-6-6-6"/></svg>
      </div>
    </div>
    <p class="mt-3 text-gray-600">
      {{roomInformation.roomDescription}}
    </p>
    <p class="mt-3 text-gray-600">

      {{roomInformation.createdAt}} 
    </p>
  </div>
</a>
