<aside class="transition-all shadow-lg duration-300 ease-in-out bg-white border-r border-gray-300 relative h-[90dvh]" [ngClass]="{'flex justify-center': isSidebarMinimized}">
  <button
    (click)="toggleSidebarMinimization()"
    [ngClass]="{'rotate-180 left-[50%] -translate-x-1/2 bottom-1/100': isSidebarMinimized, 'top-1/2 -right-5': !isSidebarMinimized}"
    type="button"
    class="z-10 transition-all duration-300 cursor-pointer absolute -translate-y-1/2 left-[50%] -translate-x-1/2 bg-gray-50 hover:bg-gray-100 active:bg-gray-200 border border-gray-300 p-2 rounded-full">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-indigo-700">
      <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5"/>
    </svg>
  </button>
  <app-nav></app-nav>
</aside>
