<!-- user-card.component.html -->
<div routerLink="/profile/id" class="mx-auto bg-white rounded-xl border border-gray-300 overflow-hidden hover:shadow-md transition-shadow duration-300">
  <div class="p-6 flex flex-col items-center">
    <!-- User Image -->
    <img
      [src]="friend.friendProfilePicture"
      alt="User profile"
      class="h-32 w-32 rounded-full object-cover p-1 border-1 border-gray-200 hover:border-indigo-200 transition-colors duration-300"
    >

    <!-- User Information -->
    <div class="mt-4 text-center">
      <h2 class="text-xl font-bold text-gray-800">{{friend.friendFirstName}} {{friend.friendLastName}}</h2>
      <p class="text-sm text-indigo-600 font-medium mt-1">{{'@' + friend.friendUserName}}</p>
    </div>

    <!-- Message Button -->
    <button
      type="button"
      
      class="flex gap-2 cursor-pointer text-md mt-6 px-6 py-2 bg-indigo-600 text-white rounded-full hover:bg-indigo-700 transition-colors duration-300"
    >
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M8.625 9.75a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H8.25m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H12m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0h-.375m-13.5 3.01c0 1.6 1.123 2.994 2.707 3.227 1.087.16 2.185.283 3.293.369V21l4.184-4.183a1.14 1.14 0 0 1 .778-.332 48.294 48.294 0 0 0 5.83-.498c1.585-.233 2.708-1.626 2.708-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0 0 12 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018Z" />
      </svg>
      Message
    </button>
  </div>
</div>
