<div class="flex flex-col min-h-screen">
  <!-- Header -->
  <header class="bg-white">
    <nav class="mx-auto px-4 pt-8 sm:px-6 lg:px-8 max-w-7xl">
      <div class="flex justify-between items-center h-16">
        <!-- Logo -->
        <div class="cursor-pointer flex items-center justify-center -mt-1" routerLink="/">
          <!-- Logo -->
          <div class="flex items-center">
            <!-- Code Brackets Symbol -->
            <div class="h-8 w-8 bg-indigo-600 rounded-lg flex items-center justify-center text-white font-mono text-md mr-3 shadow-md transform rotate-12">
              &lt;/&gt;
            </div>

            <!-- Text Part -->
            <div class="flex flex-col">
              <span class="text-2xl font-bold tracking-tight text-indigo-800">Code<span class="text-indigo-500">Meet</span></span>
              <span class="text-xs text-indigo-600 tracking-widest uppercase -mt-1">Connect & Collaborate</span>
            </div>
          </div>

        </div>


        <!-- Navigation Links -->
        <div class="hidden md:flex items-center space-x-4">
          <a
            routerLink="/login"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            class="text-gray-600 hover:text-gray-900 px-3 py-2 text-sm font-medium flex items-center"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-5 inline-block mr-1"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M8.25 9V5.25A2.25 2.25 0 0 1 10.5 3h6a2.25 2.25 0 0 1 2.25 2.25v13.5A2.25 2.25 0 0 1 16.5 21h-6a2.25 2.25 0 0 1-2.25-2.25V15M12 9l3 3m0 0-3 3m3-3H2.25"
              />
            </svg>
            Login</a
          >
          <a
            routerLink="/signup"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            class="bg-indigo-600 text-white hover:bg-indigo-700 px-4 py-2 rounded-md text-sm font-medium flex items-center"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-5 inline-block mr-1"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M18 7.5v3m0 0v3m0-3h3m-3 0h-3m-2.25-4.125a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0ZM3 19.235v-.11a6.375 6.375 0 0 1 12.75 0v.109A12.318 12.318 0 0 1 9.374 21c-2.331 0-4.512-.645-6.374-1.766Z"
              />
            </svg>
            Sign Up</a
          >
        </div>
      </div>
    </nav>
  </header>

  <!-- Hero Section -->
  <main class="flex-grow">
    <div class="mx-auto px-4 sm:px-6 lg:px-8 max-w-7xl py-24 pt-28">
      <div class="flex flex-col md:flex-row items-center gap-8">
        <!-- Left Content -->
        <div class="md:w-1/2">
          <h1
            class="text-5xl font-semibold tracking-tight text-balance text-gray-900 mb-4 sm:text-7xl"
          >
            Welcome to Our Platform
          </h1>
          <p
            class="text-lg text-gray-500 mt-8 font-medium text-pretty sm:text-xl/8"
          >
            Collaborate in real-time with video chat, and shared code editing.
            Perfect for remote teams, pair programming, and technical
            interviews.
          </p>

          <div class="mt-10 flex items-center justify-start gap-x-6">
            <a
              routerLink="/signup"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              class="rounded-md px-6 py-3 text-md font-semibold text-white shadow-xs bg-indigo-600 hover:bg-indigo-700 active:bg-indigo-600"
              >Join Now
            </a>
            <a
              (click)="toggleMainFeatures()"
              class="text-sm/6 font-semibold text-gray-900 cursor-pointer"
              >Learn more <span aria-hidden="true">→</span></a
            >
          </div>
        </div>

        <!-- Right Image -->
        <div class="md:w-1/2">
          <img
            src="https://i.ibb.co/7xvYc53H/meeting-hero.png"
            alt="Hero Image"
            class="rounded-lg w-full h-auto"
          />
        </div>
      </div>
    </div>
    <div
      class="absolute inset-x-0 top-[calc(100%-25rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-50rem)]"
      aria-hidden="true"
    >
      <div
        class="relative left-[calc(50%+3rem)] aspect-1155/678 w-[36.125rem] -translate-x-1/2 bg-linear-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]"
        style="
          clip-path: polygon(
            74.1% 44.1%,
            100% 61.6%,
            97.5% 26.9%,
            85.5% 0.1%,
            80.7% 2%,
            72.5% 32.5%,
            60.2% 62.4%,
            52.4% 68.1%,
            47.5% 58.3%,
            45.2% 34.5%,
            27.5% 76.7%,
            0.1% 64.9%,
            17.9% 100%,
            27.6% 76.8%,
            76.1% 97.7%,
            74.1% 44.1%
          );
        "
      ></div>
    </div>
  </main>
</div>

<div
  [ngClass]="{ hidden: isMainFeaturesHidden }"
  class="fixed inset-0 p-4 flex flex-wrap justify-center items-center w-full h-full z-[1000] overflow-auto font-[sans-serif]"
>
  <div
    class="before:fixed before:inset-0 before:w-full before:h-full before:bg-[rgba(0,0,0,0.5)]"
    (click)="toggleMainFeatures()"
  ></div>
  <div class="w-full max-w-lg bg-white shadow-lg rounded-lg p-6 relative">
    <div class="flex items-center pb-3 border-b border-gray-300">
      <h3 class="text-gray-800 text-xl font-bold flex-1">Our Main Features</h3>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="w-3 ml-2 cursor-pointer shrink-0 fill-gray-400 hover:fill-indigo-500"
        viewBox="0 0 320.591 320.591"
        (click)="toggleMainFeatures()"
      >
        <path
          d="M30.391 318.583a30.37 30.37 0 0 1-21.56-7.288c-11.774-11.844-11.774-30.973 0-42.817L266.643 10.665c12.246-11.459 31.462-10.822 42.921 1.424 10.362 11.074 10.966 28.095 1.414 39.875L51.647 311.295a30.366 30.366 0 0 1-21.256 7.288z"
          data-original="#000000"
        ></path>
        <path
          d="M287.9 318.583a30.37 30.37 0 0 1-21.257-8.806L8.83 51.963C-2.078 39.225-.595 20.055 12.143 9.146c11.369-9.736 28.136-9.736 39.504 0l259.331 257.813c12.243 11.462 12.876 30.679 1.414 42.922-.456.487-.927.958-1.414 1.414a30.368 30.368 0 0 1-23.078 7.288z"
          data-original="#000000"
        ></path>
      </svg>
    </div>

    <div class="my-6">
      <ul class="space-y-4">
        @for (feature of mainFeatures; track feature) {
        <li class="flex items-center text-sm text-gray-500">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="18"
            class="mr-3 bg-indigo-100 fill-indigo-600 rounded-full p-[3px]"
            viewBox="0 0 24 24"
          >
            <path
              d="M9.707 19.121a.997.997 0 0 1-1.414 0l-5.646-5.647a1.5 1.5 0 0 1 0-2.121l.707-.707a1.5 1.5 0 0 1 2.121 0L9 14.171l9.525-9.525a1.5 1.5 0 0 1 2.121 0l.707.707a1.5 1.5 0 0 1 0 2.121z"
              data-original="#000000"
            />
          </svg>
          {{ feature }}
        </li>
        }
      </ul>
    </div>
  </div>
</div>
