<a
  routerLink="{{ routeLink }}"
  routerLinkActive="bg-indigo-600 text-white font-bold hover:text-white hover:bg-indigo-800"
  [routerLinkActiveOptions]="{ exact: true }"
  [ngClass]="{'space-x-3': !isSidebarMinimized, 'justify-center': isSidebarMinimized}"
  class="group flex relative items-center p-3 rounded-lg hover:bg-gray-100 text-gray-600 hover:text-gray-900 transition-colors"
>
  <svg
    class="w-6 h-6"
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    stroke="currentColor"
    stroke-width="1.5"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      attr.d="{{ icon }}"
    ></path>
  </svg>
  <span class="font-medium sidebar-nav-title" [ngClass]="{'hidden': isSidebarMinimized}">{{ title | titlecase }}</span>

  <p *ngIf="isSidebarMinimized" class="hidden group-hover:block absolute z-1000 flex text-center items-center justify-center w-48 p-3 text-gray-600 bg-white rounded-lg border-gray-300 border left-0 -top-[50%] translate-y-1/2 translate-x-1/2 shadow-gray-300">
    <span class="truncate ">{{title | titlecase}}</span>

    <svg xmlns="http://www.w3.org/2000/svg" class="absolute w-6 h-6 text-white transform rotate-45 -translate-y-1/2 fill-current -left-3 top-1/2 border-l border-b border-gray-300" stroke="currentColor" viewBox="0 0 24 24" >
      <path d="M20 3H4a1 1 0 0 0-1 1v16a1 1 0 0 0 1 1h16a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1z"></path>
    </svg>
  </p>

</a>
