<ng-container *ngIf="currentView === 'MEETING_ENTRANCE'">
  <div [@fadeInOut]>
    <app-meeting-entrance
      [meetingId]="this.meetingId"
      (join)="onEntranceJoin($event)">
    </app-meeting-entrance>
  </div>
</ng-container>

<ng-container *ngIf="currentView === 'MEETING_ROOM'">
  <div [@fadeInOut]>
    <app-meeting-room
      [meetingId]="this.meetingId"
      (leave)="onMeetingLeave()">
    </app-meeting-room>
  </div>
</ng-container>

<ng-container *ngIf="currentView === 'MEETING_EXIT'">
  <div [@fadeInOut]>
    <app-meeting-exit
      (rejoin)="onExitRejoin()">
    </app-meeting-exit>
  </div>
</ng-container>
