<div class="flex w-full justify-between overflow-hidden">
  <div
    class="relative overflow-hidden"
    [ngClass]="{'w-[75%]': sidebarContent !== 'HIDDEN', 'w-full': sidebarContent === 'HIDDEN'}">
    <div
      class="absolute inset-0 scrollbar-overlay w-full h-full bg-gray-100"
      [ngClass]="{'z-20': mainAreaContent === 'PARTICIPANTS', 'z-10': mainAreaContent !== 'PARTICIPANTS'}">
      <div class="overflow-auto grid grid-cols-3 py-2 transition-all duration-300">
        @if (state.participants) {
          <div
            *ngFor="let participant of state.sortedParticipants"
            class="flex flex-col items-center justify-between rounded-xl bg-gray-200 border-3 border-gray-300 m-2 transition-all duration-300 ease-in-out overflow-hidden"
            [class.speaking]="state.isSpeaking(participant.participantId)">
            <div class="w-full flex items-center justify-center">
              <div class="aspect-video w-full p-2 rounded-xl overflow-hidden flex items-center justify-center">
                <ng-container *ngIf="rtcService.isCamObtained(participant.participantId) && rtcService._isCamEnabled(participant); else noCam">
                  <video [id]="`video-wrapper-${participant.participantId}`" class="w-full h-full object-cover rounded-xl" autoplay muted playsinline></video>
                </ng-container>
                <ng-template #noCam>
                  <!-- Avatar or SVG Fallback -->
                  <svg class="w-2/3 h-2/3 text-indigo-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="1.5">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
                  </svg>
                </ng-template>
              </div>
            </div>
            <p class="text-gray-800 py-2">
              {{ participant.user.firstName + ' ' + participant.user.lastName }}
            </p>
          </div>
        } @else {

        }
      </div>
    </div>
    <app-code-editor
      class="absolute inset-0 w-full"
      [ngClass]="{'z-20': mainAreaContent === 'EDITOR', 'z-10': mainAreaContent !== 'EDITOR'}">>
    </app-code-editor>
  </div>

  <!-- Sidebar -->
  <meeting-sidebar
    *ngIf="sidebarContent !== 'HIDDEN'"
    [sidebarContent]="sidebarContent"
    [mainAreaContent]="mainAreaContent"
    (hideSidebar)="onHideSidebar()"
    class="relative w-[25%] border-l border-gray-300 overflow-hidden">
  </meeting-sidebar>
</div>
