<div class="max-w-[80%] mx-auto p-6 pl-0 mt-4">
  <div class="border-b border-gray-200">
    <nav class="flex space-x-8" aria-label="Tabs">
      <button
        *ngFor="let tab of tabs"
        (click)="selectedTab = tab.id"
        [class]="getTabClasses(tab.id)"
      >
        {{ tab.name }}
      </button>
    </nav>
  </div>

  <div class="p-4">
    <div *ngIf="selectedTab === 'coming'">
      <!-- Coming meetings content -->
      <app-meeting-card></app-meeting-card>
      <app-meeting-card></app-meeting-card>
      <app-meeting-card></app-meeting-card>
    </div>

    <div *ngIf="selectedTab === 'previous'">
      <!-- Previous meetings content -->
      <app-meeting-card/>
    </div>
  </div>
</div>
