<div class="bg-white h-screen w-screen flex flex-col">
  <app-header
    class="z-30 shadow-sm bg-gradient-to-r from-purple-400 to-indigo-500 p-1 flex items-center justify-between">
  </app-header>
  <div class="w-full h-full flex overflow-hidden">
    <div class="flex w-full justify-between overflow-hidden">
      <app-sidebar
        class="relative bg-gray-50 border-r border-gray-300 transition-all duration-300"
        [ngClass]="{'w-3/20': !isSidebarMinimized, 'w-1/20': isSidebarMinimized}">
      </app-sidebar>
      <div
        @fadeInOut
        class="relative transition-all duration-300 overflow-auto"
        [ngClass]="{'w-17/20': !isSidebarMinimized, 'w-19/20': isSidebarMinimized}">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
