<!-- component -->
<div class="flex h-[88dvh] w-full overflow-hidden">
  <app-recentchats class="w-2/7 bg-white border-r border-gray-300 h-full"></app-recentchats>

  <div class="flex-1 w-full max-h-[88dvh] relative">
    <router-outlet></router-outlet>
    <div class="h-full flex justify-center flex-col items-center bg-gray-50">
      <span class="p-4 m-4 rounded-full text-white bg-indigo-500">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="animate-dance size-9">
          <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18" />
        </svg>
      </span>
      <p class="font-bold text-2xl text-gray-500">Select a chat to show</p>
    </div>
  </div>
</div>
