/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@theme {
  --animate-dance: dance 1s ease-in-out infinite;
  @keyframes dance {
    0%,
    100% {
      transform: translateX(-5px);
    }
    50% {
      transform: translateX(5px);
    }
  }
}

/* Apply to the entire document */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
