/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@theme {
  --animate-dance: dance 1s ease-in-out infinite;
  @keyframes dance {
    0%,
    100% {
      transform: translateX(-5px);
    }
    50% {
      transform: translateX(5px);
    }
  }
}

/* Apply to the entire document */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  font-family: "Inter", sans-serif;
}

.scrollbar-overlay {
  scrollbar-gutter: stable both-edges; /* Prevent shift in supporting browsers */
  overflow-y: auto;
}

/* Optional: overlay scrollbar for WebKit browsers */
.scrollbar-overlay::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-overlay::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-overlay::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

