<div class="bg-white flex justify-between items-center gap-4 lg:gap-8 border-gray-200 p-2">
  <div class="bg-white flex justify-between items-center gap-4 lg:gap-8 border-gray-200 p-2">
    <!-- Left Side - Member Info -->
    <div class="flex items-center gap-4 w-full">
      <!-- Avatar -->
      <div *ngIf="membership.member.profilePictureUrl; else svgIcon">
        <img
          [src]="membership.member.profilePictureUrl"
          alt="Room Image"
          class="w-10 h-10 rounded-full">
      </div>
      <ng-template #svgIcon>
        <svg
          class="w-10 h-10 text-indigo-500 bg-indigo-50 rounded-full"
          xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="1.5">
          <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"></path>
        </svg>
      </ng-template>

      <!-- Full Name + Admin Tag -->
      <div class="flex items-center gap-2">
        <!-- Full Name -->
        <span class="text-base font-semibold text-gray-800">
            {{ membership.member.firstName }} {{ membership.member.lastName }}
          </span>

        <!-- Admin Badge -->
        <ng-container *ngIf="membership.status === 'ADMIN'">
          <span class="relative group inline-flex items-center text-indigo-700 rounded-full cursor-default">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="currentColor" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M8 0c-.69 0-1.843.265-2.928.56-1.11.3-2.229.655-2.887.87a1.54 1.54 0 0 0-1.044 1.262c-.596 4.477.787 7.795 2.465 9.99a11.8 11.8 0 0 0 2.517 2.453c.386.273.744.482 1.048.625.28.132.581.24.829.24s.548-.108.829-.24a7 7 0 0 0 1.048-.625 11.8 11.8 0 0 0 2.517-2.453c1.678-2.195 3.061-5.513 2.465-9.99a1.54 1.54 0 0 0-1.044-1.263 63 63 0 0 0-2.887-.87C9.843.266 8.69 0 8 0m0 5a1.5 1.5 0 0 1 .5 2.915l.385 1.99a.5.5 0 0 1-.491.595h-.788a.5.5 0 0 1-.49-.595l.384-1.99A1.5 1.5 0 0 1 8 5"/>
            </svg>
            <span class="absolute -top-8 left-1/2 -translate-x-1/2 bg-gray-800 text-white text-[11px] px-2 py-1 rounded shadow opacity-0 group-hover:opacity-100 transition-opacity duration-300 pointer-events-none whitespace-nowrap">
              Admin
            </span>
          </span>
        </ng-container>

        <!-- Username -->
        <a
          [routerLink]="['/profile', membership.member.username]"
          class="text-xs text-indigo-700 bg-indigo-50 rounded-full px-2 py-1 font-medium hover:underline block">
          &#64;{{ membership.member.username }}
        </a>
      </div>
    </div>
  </div>

  <div class="justify-self-end flex gap-3" *ngIf="!isMembershipRequest">
    <button
      class="flex items-center justify-center gap-2 cursor-pointer rounded-full text-sm px-4 py-1 border text-indigo-700 border-indigo-600 hover:bg-indigo-600 hover:text-white transition-colors duration-300">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-left-text-fill" viewBox="0 0 16 16">
        <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H4.414a1 1 0 0 0-.707.293L.854 15.146A.5.5 0 0 1 0 14.793zm3.5 1a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1zm0 2.5a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1zm0 2.5a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1z"/>
      </svg>
      <span>Message</span>
    </button>
    <button
      (click)="onMembershipCanceled()"
      class="flex items-center justify-center gap-2 cursor-pointer rounded-full text-sm px-4 py-1 border bg-red-100 text-red-700 border-red-600 hover:bg-red-600 hover:text-white transition-colors duration-300">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-dash-fill" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M11 7.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5"/>
        <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
      </svg>
      <span>Remove</span>
    </button>
  </div>

  <!-- Buttons: Accept + Reject -->
  <div class="justify-self-end flex gap-3" *ngIf="isMembershipRequest">
    <button
      (click)="onMembershipAccepted()"
      class="flex items-center justify-center gap-2 cursor-pointer rounded-full text-sm px-4 py-1 text-green-700 border border-green-600 hover:bg-green-600 hover:text-white transition-colors duration-300">
      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
        <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
      </svg>
      <span>Accept</span>
    </button>

    <button
      (click)="onMembershipCanceled()"
      class="flex items-center justify-center gap-2 cursor-pointer rounded-full text-sm px-4 py-1 bg-red-100 text-red-700 border border-red-600 hover:bg-red-600 hover:text-white transition-colors duration-300">
      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
      </svg>
      <span>Reject</span>
    </button>
  </div>
</div>
