<div class="font-[sans-serif]">
  <div class="grid lg:grid-cols-2 md:grid-cols-2 items-center gap-4">
    <a
      routerLink="/"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      class="w-12 h-12 flex absolute top-8 items-center justify-center border-none outline-none bg-indigo-600 hover:bg-indigo-700 active:bg-indigo-600"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="#fff"
        class="size-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M15.75 19.5 8.25 12l7.5-7.5"
        />
      </svg>
    </a>
    <form class="max-w-xl w-full p-6 mx-auto my-12">
      <div class="mb-12">
        <h3 class="text-gray-800 text-4xl font-extrabold">Sign Up</h3>
        <p class="text-gray-800 text-sm mt-6">
          Already have an account?
          <a
            routerLink="/login"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            class="text-indigo-600 font-semibold hover:underline ml-1 whitespace-nowrap"
            >Login</a
          >
        </p>
      </div>

      <div class="flex flex-col md:flex-row gap-6">
        <div class="w-full md:w-1/2">
          <label class="text-gray-800 text-sm block mb-2">First Name</label>
          <div class="relative flex items-center">
            <input
              name="FirstName"
              type="text"
              required
              class="w-full text-sm text-gray-800 border border-gray-300 focus:border-indigo-600 px-2 py-3 outline-none"
              placeholder="First Name"
            />
          </div>
        </div>

        <div class="w-full md:w-1/2">
          <label class="text-gray-800 text-sm block mb-2">Last Name</label>
          <div class="relative flex items-center">
            <input
              name="LastName"
              type="text"
              required
              class="w-full text-sm text-gray-800 border border-gray-300 focus:border-indigo-600 px-2 py-3 outline-none"
              placeholder="Last Name"
            />
          </div>
        </div>
      </div>

      <div class="mt-6">
        <label class="text-gray-800 text-sm block mb-2">Email Address</label>
        <div class="relative flex items-center">
          <input
            name="text"
            type="text"
            required
            class="w-full text-sm text-gray-800 border border-gray-300 focus:border-indigo-600 px-2 py-3 outline-none"
            placeholder="Email Address"
          />
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="#bbb"
            stroke="#bbb"
            class="w-[18px] h-[18px] absolute right-4"
            viewBox="0 0 682.667 682.667"
          >
            <defs>
              <clipPath id="a" clipPathUnits="userSpaceOnUse">
                <path d="M0 512h512V0H0Z" data-original="#000000"></path>
              </clipPath>
            </defs>
            <g clip-path="url(#a)" transform="matrix(1.33 0 0 -1.33 0 682.667)">
              <path
                fill="none"
                stroke-miterlimit="10"
                stroke-width="40"
                d="M452 444H60c-22.091 0-40-17.909-40-40v-39.446l212.127-157.782c14.17-10.54 33.576-10.54 47.746 0L492 364.554V404c0 22.091-17.909 40-40 40Z"
                data-original="#000000"
              ></path>
              <path
                d="M472 274.9V107.999c0-11.027-8.972-20-20-20H60c-11.028 0-20 8.973-20 20V274.9L0 304.652V107.999c0-33.084 26.916-60 60-60h392c33.084 0 60 26.916 60 60v196.653Z"
                data-original="#000000"
              ></path>
            </g>
          </svg>
        </div>
      </div>

      <div class="mt-6">
        <label class="text-gray-800 text-sm block mb-2">Username</label>
        <div class="relative flex items-center">
          <input
            name="text"
            type="text"
            required
            class="w-full text-sm text-gray-800 border border-gray-300 focus:border-indigo-600 px-2 py-3 outline-none"
            placeholder="Username"
          />

          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="#bbbbbb"
            class="w-[18px] h-[18px] absolute right-4"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z"
            />
          </svg>
        </div>
      </div>

      <div class="mt-6">
        <label class="text-gray-800 text-sm block mb-2">Password</label>
        <div class="relative flex items-center">
          <input
            name="password"
            type="password"
            required
            class="w-full text-sm text-gray-800 border border-gray-300 focus:border-indigo-600 px-2 py-3 outline-none"
            placeholder="Password"
          />
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="#bbb"
            stroke="#bbb"
            class="w-[18px] h-[18px] absolute right-4 cursor-pointer"
            viewBox="0 0 128 128"
          >
            <path
              d="M64 104C22.127 104 1.367 67.496.504 65.943a4 4 0 0 1 0-3.887C1.367 60.504 22.127 24 64 24s62.633 36.504 63.496 38.057a4 4 0 0 1 0 3.887C126.633 67.496 105.873 104 64 104zM8.707 63.994C13.465 71.205 32.146 96 64 96c31.955 0 50.553-24.775 55.293-31.994C114.535 56.795 95.854 32 64 32 32.045 32 13.447 56.775 8.707 63.994zM64 88c-13.234 0-24-10.766-24-24s10.766-24 24-24 24 10.766 24 24-10.766 24-24 24zm0-40c-8.822 0-16 7.178-16 16s7.178 16 16 16 16-7.178 16-16-7.178-16-16-16z"
              data-original="#000000"
            ></path>
          </svg>
        </div>
      </div>

      <div class="mt-6">
        <label class="text-gray-800 text-sm block mb-2">Confirm Password</label>
        <div class="relative flex items-center">
          <input
            name="password"
            type="password"
            required
            class="w-full text-sm text-gray-800 border border-gray-300 focus:border-indigo-600 px-2 py-3 outline-none"
            placeholder="Confirm password"
          />
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="#bbb"
            stroke="#bbb"
            class="w-[18px] h-[18px] absolute right-4 cursor-pointer"
            viewBox="0 0 128 128"
          >
            <path
              d="M64 104C22.127 104 1.367 67.496.504 65.943a4 4 0 0 1 0-3.887C1.367 60.504 22.127 24 64 24s62.633 36.504 63.496 38.057a4 4 0 0 1 0 3.887C126.633 67.496 105.873 104 64 104zM8.707 63.994C13.465 71.205 32.146 96 64 96c31.955 0 50.553-24.775 55.293-31.994C114.535 56.795 95.854 32 64 32 32.045 32 13.447 56.775 8.707 63.994zM64 88c-13.234 0-24-10.766-24-24s10.766-24 24-24 24 10.766 24 24-10.766 24-24 24zm0-40c-8.822 0-16 7.178-16 16s7.178 16 16 16 16-7.178 16-16-7.178-16-16-16z"
              data-original="#000000"
            ></path>
          </svg>
        </div>
      </div>

      <div class="mt-6">
        <div class="w-full max-w-auto min-w-[200px]">
          <label class="text-gray-800 text-sm block mb-2">Phone Number</label>
          <div class="relative mt-2">
            <div class="absolute top-2 left-0 flex items-center pl-3">
              <button
                id="dropdownButton"
                class="h-full text-sm flex justify-center items-center bg-transparent text-gray-700 mt-1 focus:outline-none"
                type="button"
              >
                <span id="dropdownSpan">+20</span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="h-4 w-4 ml-1"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M19.5 8.25l-7.5 7.5-7.5-7.5"
                  />
                </svg>
              </button>
              <div class="h-6 border-l border-slate-200 ml-2"></div>
              <div
                id="dropdownMenu"
                class="min-w-[150px] absolute left-0 w-full mt-10 hidden bg-white border border-slate-200 rounded-md z-10"
              >
                <ul id="dropdownOptions">
                  <li
                    class="px-4 py-2 text-slate-600 hover:bg-slate-50 text-sm cursor-pointer"
                    data-value="+33"
                  >
                    France (+33)
                  </li>
                  <li
                    class="px-4 py-2 text-slate-600 hover:bg-slate-50 text-sm cursor-pointer"
                    data-value="+49"
                  >
                    Germany (+49)
                  </li>
                  <li
                    class="px-4 py-2 text-slate-600 hover:bg-slate-50 text-sm cursor-pointer"
                    data-value="+34"
                  >
                    Spain (+34)
                  </li>
                  <li
                    class="px-4 py-2 text-slate-600 hover:bg-slate-50 text-sm cursor-pointer"
                    data-value="+1"
                  >
                    USA (+1)
                  </li>
                </ul>
              </div>
            </div>
            <input
              type="tel"
              class="w-full bg-transparent placeholder:text-slate-400 text-slate-700 text-sm border border-slate-200 rounded-md pr-3 pl-20 py-2 transition duration-300 ease focus:outline-none focus:border-slate-400 hover:border-slate-300 w-full text-sm text-gray-800 border border-gray-300 focus:border-indigo-600 px-2 py-3 outline-none"
              placeholder="100-136-4845"
              pattern="[0-9]*"
              inputmode="numeric"
              maxlength="12"
              id="phoneNumberInput"
            />
          </div>
        </div>
      </div>

      <div class="mt-8">
        <button
          type="submit"
          class="w-full py-2.5 px-4 text-sm tracking-wide rounded-md text-white bg-indigo-600 hover:bg-indigo-700 active:bg-indigo-600 cursor-pointer focus:outline-none"
        >
          Sign Up
        </button>
      </div>
    </form>

    <div class="max-md:order-1 h-screen min-h-full">
      <img
        src="https://i.ibb.co/mCj9GNzt/image-3.webp"
        class="w-full h-full object-cover"
        alt="login-image"
      />
    </div>
  </div>
</div>
