<!-- Sidebar Header -->
<header class="p-4 border-b border-gray-300 flex items-center h-[12dvh] gap-2 justify-between items-center">
  <div class="relative w-full">
    <input
      type="text"
      id="Search"
      placeholder="Search for Chats..."
      class="w-full rounded-md border-gray-300 py-2.5 pl-2.5 pe-10 border focus:outline-none"
    />

    <span class="absolute inset-y-0 end-0 grid w-10 place-content-center">
  <button type="button" class="cursor-pointer text-gray-600 hover:text-gray-700">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="size-4"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"
      />
    </svg>
  </button>
</span>
  </div>
</header>

<!-- Contact List -->
<div class="overflow-y-auto h-[76dvh]">
  @for (chat of chats; track chat) {
    <app-chatcard [route]="'/chats/' + chat.id" [senderName]="chat.senderName" [profileImage]="chat.senderProfileImage" [lastMessage]="chat.lastMessage"></app-chatcard>
  }
</div>
